{
  "presets": ["stage-0", "react", "es2015"],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-react-display-name"
  ]
}
